{:objects
 {
  :Message
  {
   :description "A message from a user."
   :fields {
            :from {:type String
                   }
            :message {:type String
                      }
            :id {:type Float}
            }}
  }
 :queries
 {
  :getRedisKey
  {
   :type String
   :description "To test Redis keys. Use the mutation `setVarRedis` to set the key, and this query to fetch it."
   :resolve :query/get-key
   }
  }

 :mutations
 {
  :postMessage
  {
   :type :Message
   :description "Post a new message"
   :args
   {
    :from {
           :description "The name of the sender of the message."
           :type String
           }
    :message {
              :type String
              }
    }
   :resolve :mutation/post-message!
   }
  :setVarRedis
  {
   :type String
   :description "Set a Redis key. For testing purposes."
   :args
   {
    :value {
            :type String
            }
    }
   :resolve :mutation/set-redis-var!
   }
  }

 :subscriptions
 {
  :messages {:type :Message
             :description "Subscribe to new messages."
             :stream :subscriptions/messages
             }
  }
 }
 
 

